
<div class="session-expired-bg">
  <div class="container">
    <div class="row align-items-center" style="height:100vh;">
      <div class="col-md-10 offset-md-1 bg-white">
        <div class="card bg-transparent bg-white-md-none mb-0">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12 text-center">
                <img src="assets/img/session-expired.png" class="img-fluid" alt="">
              </div>
              <div class="col-sm-12 text-center">
                <h1 class="session-expired-title mb-1">Your Session has expired.<br/>Please Log in again.</h1>
                <button type="button" (click)="navigate()" class="btn btn-login round">Go to Login Page</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
 



