<div class="content-wrapper">
    <div class="content-header row mb-2">
        <div class="content-header-left col-md-6 col-12 mb-1">
            <h3 class="content-header-title mb-0"><i class="fa-solid fa-people-arrows-left-right text-warning"></i> Lead Request</h3>
        </div>
        <!-- <div class="content-header-right text-md-right col-md-6 col-12 mb-md-0 mb-0">
          <div class="form-group mb-0">
            <a class="btn btn-link" routerLink="create"><i class="feather icon-user-plus text-primary fa-lg"></i> Create User</a>

          </div>
        </div> -->
    </div>
    <div class="content-body">
      <div class="card">
        <div class="card-body">
          <!-- <button mat-raised-button (click)="openDialog()">click</button> -->
          <div class="table-responsive">
            <table id="leadUserList" class="table table-sm table-bordered table-hover mb-0" style="width:100%;">
                <thead>
                    <tr>
                      <th class="text-center">Action</th>
                        <th>Lead Id</th>
                        <th>Company Name</th>
                        <!-- <th>First Name</th>
                        <th>Last Name</th> -->
                        <th>Email Id</th>
                        <th>Status</th>
                        <th>Created On</th>
                        <!-- <th class="text-center">Mobile no.</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of leadUserList;let i=index;">
                      <td class="text-center">
                        <!-- <a class="btn-link mr-50" title="View"><i class="feather icon-eye font-medium-1 text-primary"></i></a> -->
                        <a class="btn-link mr-50" title="Edit" [routerLink]="['view/'+user.pkLeadId]"><i class="feather icon-eye font-medium-1 text-secondary"></i></a>
                        <a class="btn-link" title="Delete" ><i class="feather icon-trash-2 font-medium-1 text-danger"></i></a>
                 
                      </td>
                        <td>{{user.pkLeadId}}</td>
                        <td>{{user.compName}}</td>
                        <!-- <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td> -->
                        <td>{{user.emailId}}</td>
                        <td>{{user.status}}</td>
                        <td>{{user.createdOn}}</td>
                        
                    </tr>
                    
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>