<!-- BEGIN: Content-->

  <div class="content-wrapper">
    <div class="content-header row mb-2"><!--border-bottom-blue-grey border-bottom-lighten-5 -->
      <div class="content-header-left col-md-12 col-12 pl-2">
          <h3 class="content-header-title mb-0"><i class="feather icon-unlock text-warning"></i> Change Password</h3>
      </div>
    </div>
    <div class="content-body">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="card">
            <div class="card-body">
              <div class="row align-items-center h-100">
                <div class="col-md-6 border-right-blue-grey border-right-lighten-5">
                  <form #submitForm="ngForm" (ngSubmit)="submitResult(submitForm)" >
                  <div class="row">
                     
                    <div class="col-md-12">
                      <p class="page-title">Please Set New Password</p>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group mb-50 row">
                        <label class="col-md-12 col-form-label">Old Password</label>
                        <div class="col-md-12">
                          <input type="password"class="form-control form-control-sm"  aria-label="Old Password"
                           [ngClass]="{invalid:!valid}" name="oldPassword" #oldPassword="ngModel" required [(ngModel)]="submitObject.oldPassword"  class="form-control form-control-sm" aria-label="Old Password">
                        </div>
                      </div>
                      <div class="errormsg" *ngIf="!oldPassword.value && oldPassword.touched || !oldPassword.value && !valid">
                          Please enter old password.
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group mb-50 row">
                        <label class="col-md-12 col-form-label">New Password</label>
                        <div class="col-md-12">
                          <input type="password" class="form-control form-control-sm"  aria-label="New Password"
                          [ngClass]="{invalid:!valid}" name="newPassword" #newPassword="ngModel" required [(ngModel)]="submitObject.newPassword">
                        </div>
                      </div>
                      <div class="errormsg" *ngIf="!newPassword.value && newPassword.touched || !newPassword.value && !valid">
                          Please enter new password.
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group mb-50 row">
                        <label class="col-md-12 col-form-label">Confirm Password</label>
                        <div class="col-md-12">
                          <input type="password"  class="form-control form-control-sm"  aria-label="Confirm Password"
                          [ngClass]="{invalid:!valid}" name="confirmPassword" #confirmPassword="ngModel" required [(ngModel)]="submitObject.confirmPassword">
                        </div>
                      </div>
                      <div class="errormsg" *ngIf="!confirmPassword.value && confirmPassword.touched || !confirmPassword.value && !valid">
                          Please enter confirm password.
                      </div>
                    </div>
                    <div class="col-md-12 text-right">
                      <!-- <button type="button" class="btn btn-secondary round btn-min-width btn-darken-1 shadow mr-1" (click)="submitResult()">Reset</button> -->
                      <button  type="submit"  class="btn btn-success round btn-min-width btn-darken-1 shadow">Save</button>
                    </div>
                  </div>
                </form>

                </div>
                <div class="col-md-6">
                  <p class="text-danger">Passwords must Contain:</p>
                  <ul class="text-danger pl-1">
                    <li>At least 6 characters</li>
                    <li>At least 1 upper case letter (A..Z)</li>
                    <li>At least 1 lower case letter (a..z)</li>
                    <li>At least 1 number (0..9)</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- END: Content-->
  
<!-- alertMsg -->
<div class="modal fade" id="alertMsg1" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
 <div class="modal-content text-center">
    <!--Header-->
    <!--Body-->
    <div class="modal-body">
       <p class="mb-2"><i
          [ngClass]="[ alertFlag === 'success' ? 'feather icon-bell font-large-4 text-success' : 'feather icon-bell font-large-4 text-danger']"></i>
       </p>
       <h6  [innerHTML]="alertMessage"></h6>
    </div>
    <!--Footer-->
    <div class="modal-footer d-flex justify-content-center">
       <button  type="button" class="btn btn-primary"
       (click)="okAlert()">Ok</button>
    </div>
 </div>
</div>
</div>