<!-- BEGIN: Header-->
<app-header></app-header>
<!-- END: Header-->
<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-dark menu-accordion" data-scroll-to-active="true">
    <app-side-menu></app-side-menu>
</div>
<!-- END: Main Menu-->
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <router-outlet></router-outlet>
    <!-- <div class="content-wrapper">
    </div> -->
</div>
<!-- END: Content-->

<div class="sidenav-overlay"></div>
<div class="drag-target"></div>