<div class="setpassword-bg">
    <div class="container">
      <div class="row align-items-center" style="height:100vh;">
        <div class="col-md-12 p-0">
          <div class="card bg-white-md-none bg-panel-setpassword shadow-lg mb-0">
            <div class="card-body p-0">
              <div class="row" style="height:85vh;min-height:auto;">
                <div class="col-md-4">
                  <div class="card mb-0" style="height:85vh;min-height:auto;">
                    <div class="card-body">
                      <form class="form-vertical" #submitForm="ngForm" (ngSubmit)="submitResult(submitForm)">
                      <div class="row">
                     
                        <div class="col-sm-10 offset-sm-1 setpassword-page">
                          <div class="mt-0 mb-2 text-center">
                            <img src="assets/img/homelane-logo.png"/>
                          </div>
                          <h6 class="setpassword-title-3 text-center mt-1 mb-1">Forget Password</h6>
                          <div class="mt-2">
                            <!-- <div class="form-group">
                              <div class="input-group">
                                <input type="password" class="form-control" placeholder="Userid" aria-label="Userid" required aria-describedby="basic-addon1">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="feather icon-user"></i></span>
                                  </div>
                              </div>
                              <div class="errormsg hidden">
                                  Please Enter  userid.
                              </div>
                            </div> -->
                            <div class="form-group">
                              <div class="input-group">
                                <input type="password"  class="form-control" placeholder="New Password" aria-label="password"  aria-describedby="basic-addon1"
                                [ngClass]="{invalid:!valid}" name="newPassword" #newPassword="ngModel" required [(ngModel)]="submitObject.newPassword">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="feather icon-unlock"></i></span>
                                  </div>
                              </div>
                              <div class="errormsg" *ngIf="!newPassword.value && newPassword.touched || !newPassword.value && !valid">
                                Please enter new password.
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="input-group">
                                <input type="password" class="form-control" placeholder="Confirm Password" aria-label="password"  aria-describedby="basic-addon1"
                                [ngClass]="{invalid:!valid}" name="confirmPassword" #confirmPassword="ngModel" required [(ngModel)]="submitObject.confirmPassword">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="feather icon-lock"></i></span>
                                  </div>
                              </div>
                              <div class="errormsg" *ngIf="!confirmPassword.value && confirmPassword.touched || !confirmPassword.value && !valid">
                                Please enter confirm password.
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <button type="submit" class="btn btn-setpassword round btn-min-width">Submit</button>
                          </div>
                        </div>
                        
                        <div class="col-12">
                          <h5 class="text-powered text-center mt-5">iVen - Powered by Intellect Bizware</h5>
                        </div>
                      </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-md-8 p-0 d-none d-md-block">
                  <div class="row align-items-center" style="height:85vh;">
                    <div class="col-md-6">
                      <h1 class="setpassword-title mb-1">Set your password</h1>
                      <h1 class="setpassword-title-2 mb-1">
                        <ul class="pl-3">
                          <li>At least 6 characters</li>
                          <li>At least 1 upper case letter (A..Z)</li>
                          <li>At least 1 lower case letter (a..z)</li>
                          <li>At least 1 number (0..9)</li>
                        </ul>
                      </h1>
                    </div>
                    <div class="col-md-6">
                      <img src="assets/img/set-password.png" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    
<!-- alertMsg -->
<div class="modal fade" id="alertMsg1" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
   <div class="modal-content text-center">
      <!--Header-->
      <!--Body-->
      <div class="modal-body">
         <p class="mb-2"><i
            [ngClass]="[ alertFlag === 'success' ? 'feather icon-bell font-large-4 text-success' : 'feather icon-bell font-large-4 text-danger']"></i>
         </p>
         <h6  [innerHTML]="alertMessage"></h6>
      </div>
      <!--Footer-->
      <div class="modal-footer d-flex justify-content-center">
         <button  type="button" class="btn btn-primary"
         (click)="okAlert()">Ok</button>
      </div>
   </div>
</div>
</div>

    